.login{
    position: relative;
    height: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/4a9270dc-7a97-44da-bda4-4dfc2dd4ea20/IN-en-20210201-popsignuptwoweeks-perspective_alpha_website_small.jpg") center no-repeat;
    background-size: cover;

}
.login__gradient{   
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8)0,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,0.8) 100%
    );
}
.login__body{
    /* width: 90%; */
    position: absolute;
    top:30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    z-index: 1;
    padding: 20px;
    left: 0;
    right: 0;
}
.login__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.login__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.login__body > h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.login__logo{
    position: fixed;
    left:0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}
.login__button{
    position: fixed;
    right: 20px;
    top:20px;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    color: #fff;
    background-color: #e50914;
    font-size: 1rem;
    cursor: pointer;
}
.login__input{
    margin: 20px;
}
.login__input > form > input{
    padding:10px;
    outline-width: 0;
    height: 30px;
    width:30%;
    max-width: 600px;
    border:none;
}
.login__getstarted{
    padding: 15.5px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border:none;
    cursor: pointer;
}